@charset "UTF-8";
/*存放公共样式*/
/*清除浮动*/
header, header .header-right .nav, header .header-right .nav .nav-li .nav-child, footer .footer-con, .web-content, .web-content .content-oralCavity .content-oralCavity-ad {
  *zoom: 1;
}

header:before, header .header-right .nav:before, header .header-right .nav .nav-li .nav-child:before, footer .footer-con:before, .web-content:before, .web-content .content-oralCavity .content-oralCavity-ad:before, header:after, header .header-right .nav:after, header .header-right .nav .nav-li .nav-child:after, footer .footer-con:after, .web-content:after, .web-content .content-oralCavity .content-oralCavity-ad:after {
  content: " ";
  display: table;
}

header:after, header .header-right .nav:after, header .header-right .nav .nav-li .nav-child:after, footer .footer-con:after, .web-content:after, .web-content .content-oralCavity .content-oralCavity-ad:after {
  clear: both;
}

/*左浮动*/
.left, header .logo, header .header-right .nav, header .header-right .nav .nav-li {
  float: left;
}

/*右浮动*/
.right, header .header-right {
  float: right;
}

header {
  width: 1200px;
  margin: 0 auto;
}

header .logo {
  margin: 30px 0;
}

header .logo img {
  display: block;
}

header .header-right {
  width: 600px;
  height: 124px;
  /*顶部菜单*/
  /*导航栏*/
}

header .header-right .top-menu {
  margin-top: 7px;
  width: 100%;
  height: 22px;
  text-align: right;
  line-height: 22px;
  font-size: 12px;
  color: #a0a0a0;
  cursor: default;
}

header .header-right .top-menu .language {
  display: inline-block;
  height: 22px;
  width: 54px;
  position: relative;
  text-align: center;
  background-color: #ececec;
  cursor: pointer;
}

header .header-right .top-menu .language .language-menu {
  position: absolute;
  display: none;
  right: 0;
  top: 22px;
}

header .header-right .top-menu .language .language-menu .language-menu-content {
  display: block;
  width: 95px;
  height: 28px;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
  background-color: #ececec;
  cursor: pointer;
}

header .header-right .top-menu .language .language-menu .language-menu-content:hover {
  background-color: #e0e0e0;
  color: #38b1bd;
}

header .header-right .top-menu .language .arrow {
  margin-left: 4px;
  width: 8px;
  height: 8px;
  display: inline-block;
  background: url(../img/arrow.png) no-repeat center center;
}

header .header-right .top-menu .language:hover .arrow {
  transform-origin: 50% 50%;
  transform: rotate(180deg);
}

header .header-right .top-menu .language:hover .language-menu {
  display: block;
}

header .header-right .nav {
  margin-top: 20px;
  z-index: 1000;
}

header .header-right .nav .nav-li {
  position: relative;
  width: 100px;
  height: 53px;
  text-align: center;
  line-height: 53px;
  margin-right: 4px;
  font-size: 12px;
  font-weight: 600;
  color: #000;
  border-radius: 5px;
}

header .header-right .nav .nav-li:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

header .header-right .nav .nav-li:hover:before {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%);
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 14px solid;
  border-color: #f5f5f5 transparent transparent;
}

header .header-right .nav .nav-li:hover .nav-child {
  display: block;
}

header .header-right .nav .nav-li .nav-child {
  display: none;
  position: relative;
  margin-top: 22px;
  background-color: #f5f5f5;
  z-index: 1000;
  /*只在定位元素上生效*/
}

header .header-right .nav .nav-li .nav-child li {
  font-weight: 500;
}

header .header-right .nav .nav-li .nav-child li:hover {
  background-color: #eaeaea;
}

footer {
  max-width: 1922px;
  min-width: 1200px;
  background-color: #f8f8f8;
}

footer .footer-con {
  padding-bottom: 80px;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(113, 113, 113, 0.5);
}

footer .footer-con .footer-left {
  padding-top: 74px;
  margin-right: 140px;
  float: left;
  width: 400px;
}

footer .footer-con .footer-left p {
  margin-bottom: 31px;
  font-size: 24px;
  color: rgba(113, 113, 113, 0.8);
}

footer .footer-con .footer-left span {
  display: block;
  margin-bottom: 30px;
  font-size: 13px;
  color: rgba(160, 160, 160, 0.8);
}

footer .footer-con .footer-right {
  margin-right: 20px;
  padding-top: 74px;
  float: left;
  display: block;
}

footer .footer-con .footer-right dl {
  float: left;
}

footer .footer-con .footer-right dl:not(:first-child) {
  margin-left: 36px;
}

footer .footer-con .footer-right dl dt {
  padding-bottom: 18px;
  margin-bottom: 19px;
  width: 75px;
  border-bottom: 1px solid #ececec;
  color: rgba(113, 113, 113, 0.8);
  font-size: 12px;
  cursor: default;
}

footer .footer-con .footer-right dl dd {
  margin-bottom: 12px;
}

footer .footer-con .footer-right dl dd a {
  font-size: 12px;
  color: rgba(113, 113, 113, 0.8);
  text-decoration: none;
}

footer .footer-con .footer-right dl dd a:hover {
  color: rgba(0, 0, 0, 0.8);
}

footer .footer-con .footer-erweima {
  position: absolute;
  right: 0;
  top: 74px;
}

footer .footer-con .footer-erweima span {
  display: block;
  width: 77px;
  margin-top: 8px;
  text-align: center;
  font-size: 12px;
  color: rgba(113, 113, 113, 0.8);
}

footer .footer-copy {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 16px 0;
  font-size: 12px;
  color: rgba(113, 113, 113, 0.8);
}

/*文本格式化，超出范围，显示省略号*/
/*清除浮动*/
header, header .header-right .nav, header .header-right .nav .nav-li .nav-child, footer .footer-con, .web-content, .web-content .content-oralCavity .content-oralCavity-ad {
  *zoom: 1;
}

header:before, header .header-right .nav:before, header .header-right .nav .nav-li .nav-child:before, footer .footer-con:before, .web-content:before, .web-content .content-oralCavity .content-oralCavity-ad:before, header:after, header .header-right .nav:after, header .header-right .nav .nav-li .nav-child:after, footer .footer-con:after, .web-content:after, .web-content .content-oralCavity .content-oralCavity-ad:after {
  content: '';
  display: table;
}

header:after, header .header-right .nav:after, header .header-right .nav .nav-li .nav-child:after, footer .footer-con:after, .web-content:after, .web-content .content-oralCavity .content-oralCavity-ad:after {
  clear: both;
}

.banner {
  max-width: 1922px;
  min-width: 1200px;
}

.banner .swiper-container {
  width: 100%;
  height: 510px;
}

.banner .swiper-container img {
  width: 100%;
  height: 100%;
}

.web-content {
  max-width: 1922px;
  min-width: 1200px;
  margin-bottom: 90px;
}

.web-content .content-oralCavity {
  width: 1200px;
  margin: 0 auto;
  padding-top: 92px;
}

.web-content .content-oralCavity .content-oralCavity-title {
  text-align: center;
  font-size: 26px;
  color: #010101;
}

.web-content .content-oralCavity .content-oralCavity-title-des {
  margin-top: 10px;
  margin-bottom: 68px;
  text-align: center;
  font-size: 12px;
  color: #a0a0a0;
}

.web-content .content-oralCavity .content-oralCavity-ad {
  padding: 0 70px;
  margin-bottom: 60px;
}

.web-content .content-oralCavity .content-oralCavity-ad .content-oralCavity-ad-li {
  width: 320px;
  float: left;
}

.web-content .content-oralCavity .content-oralCavity-ad .content-oralCavity-ad-li a {
  text-decoration: none;
}

.web-content .content-oralCavity .content-oralCavity-ad .content-oralCavity-ad-li a img {
  margin-bottom: 24px;
}

.web-content .content-oralCavity .content-oralCavity-ad .content-oralCavity-ad-li a .ad-title {
  margin-bottom: 12px;
  font-size: 18px;
  color: #010101;
}

.web-content .content-oralCavity .content-oralCavity-ad .content-oralCavity-ad-li a .ad-describe {
  padding-top: 12px;
  border-top: 1px solid #a0a0a0;
  line-height: 1.8;
  font-size: 12px;
  color: #a0a0a0;
  width: 320px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.web-content .content-oralCavity .content-oralCavity-ad .content-oralCavity-ad-li:nth-child(2) {
  margin: 0 50px;
}

.web-content .content-oralCavity .more {
  width: 120px;
  height: 37px;
  display: block;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  font-size: 12px;
  border-radius: 20px;
}

.web-content .content-oralCavity .more a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 37px;
  text-decoration: none;
  color: #a0a0a0;
}

.web-content .content-oralCavity .more:hover {
  background-color: #4ac1ae;
  border: 1px solid #4ac1ae;
}

.web-content .content-oralCavity .more:hover a {
  color: #fff;
}

.web-content .content-publicWelfare {
  width: 1200px;
  margin: 0 auto;
  margin-top: 90px;
}

.web-content .content-publicWelfare .tip-banner {
  width: 100%;
  background-color: #efefef;
}

.web-content .content-publicWelfare .tip-banner .title {
  padding-top: 55px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 26px;
  color: #010101;
}

.web-content .content-publicWelfare .tip-banner .content-publicWelfare-title-des {
  padding-bottom: 54px;
  text-align: center;
  font-size: 12px;
  color: #a0a0a0;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li {
  width: 400px;
  float: left;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a {
  display: block;
  text-decoration: none;
  background-color: #eae9e4;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a .content-publicWelfare-ad-li-tip {
  margin: 38px 0 16px 39px;
  color: #000;
  font-size: 24px;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a img {
  width: 100%;
  display: block;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a .fir-img {
  height: 380px;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a .time {
  margin-left: 39px;
  font-size: 12px;
  color: rgba(1, 1, 1, 0.5);
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a i {
  display: block;
  margin: 21px 0;
  margin-left: 39px;
  width: 38px;
  height: 1px;
  background-color: rgba(1, 1, 1, 0.5);
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a .more {
  margin-left: 39px;
  margin-bottom: 26px;
  width: 94px;
  height: 31px;
  font-size: 12px;
  color: rgba(1, 1, 1, 0.8);
  background-color: #eae9e4;
  border: 1px solid #a0a0a0;
  cursor: pointer;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a .more:hover {
  background-color: #4ac1ae;
  border: 1px solid #4ac1ae;
  color: #fff;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a .content-publicWelfare-ad-li-scr {
  padding-top: 51px;
  margin-left: 41px;
  margin-bottom: 16px;
  font-size: 24px;
  color: #010101;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a .content-publicWelfare-ad-li-scr-des {
  display: block;
  width: 312px;
  padding-top: 17px;
  margin-left: 41px;
  font-size: 12px;
  line-height: 1.5;
  color: #010101;
  width: 312px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a .more-scon {
  margin-bottom: 58px;
  margin-top: 22px;
  margin-left: 41px;
  width: 94px;
  height: 31px;
  font-size: 12px;
  color: rgba(1, 1, 1, 0.8);
  background-color: #fff;
  border: 1px solid #a0a0a0;
  cursor: pointer;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a .more-scon:hover {
  background-color: #4ac1ae;
  border: 1px solid #4ac1ae;
  color: #fff;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .content-publicWelfare-ad-li a .scon-img {
  display: block;
  width: 100%;
  height: 196px;
}

.web-content .content-publicWelfare .content-publicWelfare-ad .scon-a {
  background-color: #fff !important;
}

.web-content .content-publicWelfare .content-publicWelfare-ad-li:nth-child(3) .three-a {
  background-color: #e03854;
}

.web-content .content-publicWelfare .content-publicWelfare-ad-li:nth-child(3) .three-a .content-publicWelfare-ad-li-three {
  margin-top: 46px;
  margin-left: 42px;
  margin-bottom: 16px;
  font-size: 24px;
  color: #fffefe;
}

.web-content .content-publicWelfare .content-publicWelfare-ad-li:nth-child(3) .three-a .time,
.web-content .content-publicWelfare .content-publicWelfare-ad-li:nth-child(3) .three-a i {
  color: rgba(255, 254, 254, 0.8);
}

.web-content .content-publicWelfare .content-publicWelfare-ad-li:nth-child(3) .three-a .content-publicWelfare-ad-li-thr-des {
  padding-top: 17px;
  width: 315px;
  margin: 0 auto;
  line-height: 1.7;
  color: #f6f6f6;
  font-size: 12px;
  width: 315px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.web-content .content-publicWelfare .content-publicWelfare-ad-li:nth-child(3) .three-a .more-scon {
  background-color: #e03854;
  border: 1px solid #f6f6f6;
  color: #f6f6f6;
}

.expert {
  max-width: 1922px;
  min-width: 1200px;
  background-color: #f6f6f6;
}

.expert .swiper-container {
  width: 100%;
}

.expert .swiper-container .swiper-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 90px;
}

.expert .swiper-container .swiper-wrapper .swiper-slide-left {
  width: 500px;
  height: 220px;
  position: relative;
  float: left;
}

.expert .swiper-container .swiper-wrapper .swiper-slide-left img {
  display: block;
}

.expert .swiper-container .swiper-wrapper .swiper-slide-left span {
  position: absolute;
  padding: 16px 29px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(1, 1, 1, 0.2);
  font-size: 18px;
  color: #fff;
}

.expert .swiper-container .swiper-wrapper .swiper-slide-right {
  margin-left: 65px;
  width: 625px;
  float: left;
}

.expert .swiper-container .swiper-wrapper .swiper-slide-right .swiper-slide-right-title {
  margin-top: 12px;
  margin-bottom: 15px;
  font-size: 18px;
  color: #010101;
  font-weight: 600;
}

.expert .swiper-container .swiper-wrapper .swiper-slide-right .swiper-slide-right-title-des {
  margin-bottom: 19px;
  font-size: 12px;
  color: #a0a0a0;
}

.expert .swiper-container .swiper-wrapper .swiper-slide-right .i {
  display: block;
  margin-bottom: 15px;
  width: 38px;
  height: 1px;
  background-color: #a0a0a0;
}

.expert .swiper-container .swiper-wrapper .swiper-slide-right .swiper-slide-right-cont {
  width: 625px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 25px;
  font-size: 12px;
  color: #a0a0a0;
  line-height: 1.8;
}

.expert .swiper-container .swiper-wrapper .swiper-slide-right .swiper-slide-right-more {
  font-size: 12px;
  color: rgba(1, 1, 1, 0.8);
}

.advisory-dynamics {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 102px;
}

.advisory-dynamics .advisory-dynamics-title {
  margin-top: 91px;
  margin-bottom: 11px;
  text-align: center;
  font-size: 26px;
  color: #010101;
}

.advisory-dynamics .advisory-dynamics-title-des {
  text-align: center;
  margin-bottom: 40px;
  font-size: 12px;
  color: #a0a0a0;
}

.advisory-dynamics .container {
  margin: 0 auto;
}

.advisory-dynamics .container .tabs {
  margin-bottom: 73px;
  text-align: center;
}

.advisory-dynamics .container .tabs .active {
  background-color: #a0a0a0;
  color: rgba(255, 254, 254, 0.8);
}

.advisory-dynamics .container .tabs button {
  width: 95px;
  height: 34px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  outline: none;
  color: rgba(1, 1, 1, 0.8);
  cursor: pointer;
}

.advisory-dynamics .container .tabs button:hover {
  background-color: #a0a0a0;
  color: rgba(255, 254, 254, 0.8);
}

.advisory-dynamics .container .swiper-slide-ul .swiper-slide-ul-li {
  width: 276px;
  float: left;
}

.advisory-dynamics .container .swiper-slide-ul .swiper-slide-ul-li:not(:first-child) {
  margin-left: 31px;
}

.advisory-dynamics .container .swiper-slide-ul .swiper-slide-ul-li a {
  text-decoration: none;
}

.advisory-dynamics .container .swiper-slide-ul .swiper-slide-ul-li a img {
  display: block;
  margin-bottom: 26px;
}

.advisory-dynamics .container .swiper-slide-ul .swiper-slide-ul-li a h4 {
  width: 276px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-bottom: 14px;
  font-size: 18px;
  color: #010101;
}

.advisory-dynamics .container .swiper-slide-ul .swiper-slide-ul-li a .swiper-slide-ul-li-time {
  font-size: 12px;
  color: #a0a0a0;
}

.advisory-dynamics .container .swiper-slide-ul .swiper-slide-ul-li a i {
  display: block;
  width: 50px;
  height: 1px;
  background-color: #a0a0a0;
  margin-top: 15px;
  margin-bottom: 19px;
}

.advisory-dynamics .container .swiper-slide-ul .swiper-slide-ul-li a .swiper-slide-ul-li-con {
  width: 279px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 27px;
  font-size: 12px;
  color: #a0a0a0;
}

.advisory-dynamics .container .swiper-slide-ul .swiper-slide-ul-li a button {
  width: 94px;
  height: 31px;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  line-height: 31px;
  color: #a0a0a0;
  background-color: #fff;
  cursor: pointer;
}

.advisory-dynamics .container .swiper-slide-ul .swiper-slide-ul-li a button:hover {
  background-color: #4ac1ae;
  border: 1px solid #FFF;
  color: rgba(255, 254, 254, 0.8);
}
